<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CV</title>
</head>
<body>

<h1>CV</h1>
<div class="row">
    <div class="coln">
         {% if user.is_authenticated %}
        <a href="/logout"><button class="btn logoutbt mybt">Logout</button></a>
        <a href="/"><button class="btn homebt mybt">Home</button></a>

       <a href="/update"><button type="submit" class="btn btn-lg mybt">Modifica</button></a>
       </br></br>
       {% else %}
        <a href="/login"><button type="submit" class="btn btn-lg mybt">Login Here</button></a>
       {% endif %}
    <div class="info">
    <h3>Dati personali</h3>
        {% for field, value in dati.items %}
        {% if field == "foto_profilo" %}
        <img src="{{ value }}" id="userimg"/>
        {% elif field == "data_di_nascita" %}
        <span><label>{{ field }}:</label> <span class="data">{{ value }}</span></span>
        {% else %}
        <span><label>{{ field }}:</label> {{ value }}</span>
        {% endif %}
        {% endfor %}
   </div>
    <div class="info">
        <h3>Formazione</h3>
        {% for form in formazione %}
        <div>
            {% for field, value in form.items %}
            {% if field == "certificato" %}
            <img src="{{ value }}" class="cert"/>
            {% elif field == "data_fine"%}
            <span><label>{{ field }}:</label> <span class="data">{{ value }}</span></span>
            {% else %}
            <span><label>{{ field }}:</label> {{ value }}</span>
            {% endif %}
            {% endfor %}
            <br/><br>
         </div>
        {% endfor %}
    </div>
     <div class="info">
        <h3>Lingue</h3>
        {% for lingua in lingue %}
        <div>
            {% for field, value in lingua.items %}
            <span><label>{{ field }}:</label> {{ value }}</span>
            {% endfor %}
         </div>
        {% endfor %}
    </div>
</div>
</div>
<div class="row">
    <div class="coln">
        <h3 class="mybt">Contact me</h3>
    <form method="post" class="myform">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn mybt">Contact</button>
    </form>
    </div>
 </div>
<script>

    window.addEventListener('load', function () {
        var date = document.getElementsByClassName("data")
        for(i = 0; i < date.length; i++)
        {
            var data = date[i].innerHTML;
            var datamod= changeDate(data);
            document.getElementsByClassName("data")[i].innerHTML = datamod;
        }
        function changeDate(mydate){
            let currentDate = new Date(mydate);
            var month = ["Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno",
            "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"][currentDate.getMonth()];
            var fd = currentDate.getDate() + ' ' + month + ' ' + currentDate.getFullYear();
            return fd;
        }
    })
</script>
</body>
</html>